<!DOCTYPE html>
<html lang="en">

<body>
    <h1>Welcome!</h1>
    <p>Already a member? Sign in 
        <a href="/users/signin/">here</a>
        First time visitor? Sign up 
        <a href="/users/signup/">here</a>
    </p>
</body>
</html>